var ideas = [];

function showAllIdeas(){
  $('#results').text('');
  items.forEach()

};

<div class="new-idea">
<form>
  <label><b>Enter an Idea</b></label>
  <input type="text" name="idea-form" id="user_input">
</form>

debugger;

<input type="submit" onclick="showInput();"><br />
<label>Ideas List: </label>
</div>

<div class="ideas">
   <%#display all the ideas %>

</div>


