<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Revenge Box</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h1>Revenge Box</h1>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <hr>
          <div class="form-group">
            <div class="row">

              <div class="col-sm-2">
                <h5>Search</h5>
              </div>

              <div class="col-sm-6">
                <form id='live-search' action='' class='styled' method='post'>
                  <fieldset>
                    <input type='text' class='text-input' id='filter' value=''/>
                    <span id='filter-count'></span>
                  </fieldset>
                </form>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <hr>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <h6>Title</h6>
                <input class="form-control" type="text" id="post-description">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <h6>Body</h6>
                <input class="form-control" type="text" id="post-body">
              </div>
            </div>
          </div>
          <input class="btn btn-default pull-right" id="create-post" type="button" name="submit" value="Save Idea">
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <h3>Latest Ideas</h3>
          <div id="latest-posts">
          </div>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2"></div>
      </div>

    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%#<script src="assets/javascripts/revenge_box.js"></script>%>
  </body>
</html>
